
<div>
    <h3>About</h3>

    <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 
            1500s, when an unknown printer took a galley of type and scrambled it 
            to make a type specimen book. It has survived not only five centuries, 
            but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem I
            psum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>

<!--<div class="row">
    <div class="col-sm-2"><input type="number" class="form-control" placeholder="Cantidad" ng-model="about.cantidad" /></div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" ng-click="about.fn.loadMessages(about.cantidad)" style="margin-bottom: 10px">
            <i class="glyphicon glyphicon-refresh"></i> Reload messages...
        </button>
    </div>
</div>-->




