<h3>
    Chat</h3>


<!--<div class="row">
    <div class="col-sm-12">
        <wizard current-step-number="currentStepNumber" submit="submit()">
          <wizard-step title="step 1" entered="stepEntered()">
            <p>step 1</p>
            <input type="text" ng-model="requiredText" required />
          </wizard-step>
          <wizard-step title="step 2" required-step-number="0" entered="stepEntered()">
            <p>step 2</p>
          </wizard-step>
        </wizard>        
    </div>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Indique su nombre de usuario</label>
            <ui-select ng-model="vm.user.selected">
                <ui-select-match allow-clear="true" placeholder="Seleccione usuario...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in vm.data.users | filter: $select.search">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                    <small ng-bind-html="item.email | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="col-sm-4" ng-if="vm.user.selected">
        <div class="form-group">
            <label>Usuario</label>
            <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <img class="img-responsive" ng-src="{{ vm.user.selected.avatar}}" />
                    </div>
                </div>

                <div class="col-sm-9">
                    <b>{{ vm.user.selected.name}}</b>
                    <br/> {{ vm.user.selected.username}}
                    <br/> {{ vm.user.selected.email}}
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3" style="">
        <label>Valoración General</label>
        <mcui-bar-rating ng-model="vm.rating" data-readonly="true">
        </mcui-bar-rating>

        {{ vm.rating }}
    </div>

    <div class="col-sm-3" style="">
        <label>Mi Valoración</label>
        <mcui-bar-rating ng-model="vm.myrating" data-on-select="vm.fn.onSelect(value, text, event)">
        </mcui-bar-rating>

        {{ vm.myrating}}
    </div>

    <div class="col-sm-6">
        <button type="button" class="btn btn-default" ng-click="vm.fn.openModal()">
            <i class="fa fa-cog"></i>&nbsp;Open Modal
        </button>
        <button type="button" class="btn btn-primary" ng-click="vm.fn.openNotification('info')">
            <i class="fa fa-eye"></i>&nbsp;Notification
        </button>
        <button type="button" class="btn btn-success" ng-click="vm.fn.openNotification('success')">
            <i class="fa fa-eye"></i>&nbsp;Notification
        </button>
        <button type="button" class="btn btn-danger" ng-click="vm.fn.openNotification('error')">
            <i class="fa fa-eye"></i>&nbsp;Notification
        </button>
        <button type="button" class="btn btn-warning" ng-click="vm.fn.openNotification('warning')">
            <i class="fa fa-eye"></i>&nbsp;Notification
        </button>
    </div>
</div>




<form novalidate name="mcuiForm" id="mcuiForm">
    <div class="row">
        <div class="col-sm-4">
            <!-- RUT-->
            <mcui-form-input ng-model="vm.model.rut" data-label="Rut" data-type="rut" show-error-message data-placeholder="RUT">
            </mcui-form-input>

            <!-- EMAIL -->
            <mcui-form-input ng-model="vm.model.email" data-label="Email" data-type="email" show-error-message data-placeholder="EMAIL vdl@gmail.com">
            </mcui-form-input>

            <!-- NUMBER -->
            <mcui-form-input ng-model="vm.model.edad" data-label="Edad" data-type="number" show-error-message data-min="18" data-max="35"
                data-placeholder="Edad Min 18, Max 35">
            </mcui-form-input>

            <!-- NOMBRE -->
            <mcui-form-input ng-model="vm.model.nombre" data-label="Nombre" show-error-message data-minlength="5" data-maxlength="10"
                data-placeholder="Nombre. Min 5, Max 10">
            </mcui-form-input>

            <!-- PATTERN -->
            <mcui-form-input ng-model="vm.model.usuario" data-label="Usuario" show-error-message data-pattern="/^[a-zA-Z]*$/" data-placeholder="Usuario. Pattern /^[a-zA-Z]*$/">
            </mcui-form-input>

            <!-- DATE -->
            <mcui-form-input ng-model="vm.model.fechaNacimiento" data-type="date" data-label="Fecha Nacimiento" show-error-message data-placeholder="Fecha Nacimiento">
            </mcui-form-input>

            <!-- RANGO -->
            <mcui-form-input ng-model="vm.model.precio" data-label="Precio" data-type="range" data-min="10" data-max="100" show-error-message
                data-placeholder="Precio">
            </mcui-form-input>

            <mcui-favourite data-checked="false" data-item-id="25">
            </mcui-favourite>

            <mcui-wish data-checked="false" data-item-id="25">
            </mcui-wish>
        </div>
    </div>
</form>



<input type="text" id="test" />


<div id="chat" class="chat chat-wrapper">
    <div class="chat-header">
        <span class="chat-text-header">
            <i class="glyphicon glyphicon-comment"></i> Chat</span>
        <div class="chat-actions-btn">
            <div class="chat-header-btn min-btn">
                <i class="glyphicon glyphicon-minus"></i>
            </div>
            <div class="chat-header-btn max-btn">
                <i class="glyphicon glyphicon-resize-full"></i>
            </div>
            <div class="chat-header-btn rem-btn">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
    </div>
    <div class="chat-container">

        <div class="chat-tabs">
            <ul class="chat-tabs-list">
                <li>
                    <a href="#chat-online-tab">
                        <small>ONLINE</small>
                    </a>
                </li>
                <li ng-show="false">
                    <a href="#chat-offline-tab">
                        <small>OFFLINE</small>
                    </a>
                </li>
            </ul>

            <div id="chat-online-tab" class="chat-tab-content">

                <div class="chat-tool-bar">
                    <ul>
                        <li class="chat-toolbar-btn btn-setting">
                            <i class="fa fa-cog"></i>
                        </li>
                        <li class="chat-toolbar-btn btn-close">
                            <i class="fa fa-power-off"></i>
                        </li>
                    </ul>
                </div>

                <div class="chat-body-wrapper">
                    <div class="chat-body">

                        <ul class="chat-message-list">

                            <li class="chat-message-item" ng-repeat="item in vm.data.messagesonline" ng-class="vm.user.selected.id != null && item.author.id == vm.user.selected.id ? 'sent' : 'received'">

                                <div ng-if="item.media != null" style="text-align: center">
                                    <h6 class="chat-message-author">
                                        <b>{{ item.author.name + ' ' + item.author.lastname}}</b>
                                        <br/>
                                    </h6>

                                    <div ng-if="item.media.customtype == 'image'" class="chat-media media-image">
                                        <img src="{{ item.media.base64}}" class="thumbnail" style="" />
                                    </div>

                                    <div ng-if="item.media.customtype == 'pdf'" class="chat-media media-pdf">
                                        <img src="frontend/app/images/pdf_image.png" class="thumbnail" style="" />
                                    </div>

                                    <div ng-if="item.media.customtype == 'xls'" class="chat-media media-xls">
                                        <img src="frontend/app/images/xls_image.png" class="thumbnail" style="" />
                                    </div>

                                    <div ng-if="item.media.customtype == 'doc'" class="chat-media media-doc">
                                        <img src="frontend/app/images/doc_image.png" class="thumbnail" style="" />
                                    </div>
                                </div>

                                <div ng-if="item.media == null">

                                    <div class="avatar-wrapper">
                                        <img class="img-rounded" ng-src="{{ item.author.avatar}}" title="avatar" />
                                    </div>

                                    <h6 class="chat-message-author">
                                        {{ item.author.name + ' ' + item.author.lastname}}
                                    </h6>

                                    <p class="chat-message-text">
                                        <span ng-bind-html="item.text"></span>
                                    </p>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="chat-text-wrapper">

                    <div class="image-upload-prev-wrapper">
                        <div id="image-upload" class="image-upload"></div>
                    </div>

                    <div class="chat-text">
                        <div class="chat-istyping" ng-show="vm.chat.typing.author != null">
                            <small>
                                <b>{{ vm.chat.typing.author.name}}</b>: {{ vm.chat.typing.message}}</small>
                        </div>
                        <div id="input-chat-online" class="input-chat" placeholder="Texto aqui online"></div>

                        <div id="chatfile" class="chat-btninputfile"></div>
                    </div>
                </div>

            </div>

            <div id="chat-offline-tab" class="chat-tab-content" ng-show="false">

                <div class="chat-tool-bar">
                    <ul>
                        <li class="chat-toolbar-btn btn-setting">
                            <i class="fa fa-cog"></i>
                        </li>
                        <li class="chat-toolbar-btn btn-close">
                            <i class="fa fa-power-off"></i>
                        </li>
                    </ul>
                </div>

                <div class="chat-body-wrapper">
                    <div class="chat-body">
                        <ul class="chat-message-list">

                            <li class="chat-message-item" ng-repeat="item in vm.data.messagesoffline" ng-class="item.sent ? 'sent' : 'received'">
                                <div class="avatar-wrapper">
                                    <img class="img-rounded" ng-src="{{ item.avatar}}" title="avatar" />
                                </div>
                                <p class="chat-message-text">{{ item.text}}</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="chat-text-wrapper">
                    <div class="chat-text">
                        <div id="input-chat-offline" class="input-chat" placeholder="Texto aqui offline"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>