<div class="login-bg">

    <div class="container-box">
        <div class="left">
            <p>LEFT</p>
        </div>

        <div class="center">
            <p>CENTER</p>
        </div>

        <div class="right">
            <p>RIGHT</p>
        </div>
    </div>


</div>