<h3>Search</h3>

<div class="row">
	<div class="col-sm-6">
		<h5>LOCAL</h5>
		<input class="form-control" type="search" ng-model="q" placeholder="SEARCH LOCAL..." aria-label="filter products" />
	</div>

	<div class="col-sm-6">
		<h5>REMOTE</h5>
		<input class="form-control" type="search" 
			remote-search
			collection="remote.products"
			ng-model="remote.q" placeholder="SEARCH REMOTE..." aria-label="filter products" />
	</div>	
</div>


<div class="table-responsive">

<span us-spinner spinner-on="remote.showSpinner"></span>

	<table class="table"> 
		<thead> 
			<tr> 
				<th>ID</th> 
				<th>Name</th> 
				<th>Price</th>  
			</tr> 
		</thead> 
		<tbody> 
			<tr ng-repeat="prod in remote.products | filter:q as results">
				<td>{{ prod.id }}</td> 
				<td>{{ prod.name }}</td>
				<td>{{ prod.price }}</td>
			</tr>
			<tr ng-if="results.length === 0">
				<td colspan="3" class="text-center" style="color:red">No result found</td> 
			</tr>	
		</tbody> 
	</table>
</div>