<h3>Conciliación manual</h3>


    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Both</label>
            <div class="col-sm-10">
                <p class="input-group">
                    <input type="text" class="form-control" datetime-picker ng-model="vm.picker3.date" is-open="vm.picker3.open" />
              <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'picker3')"><i class="fa fa-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">model</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ vm.picker3.date }}</p>
            </div>
        </div>
    </form>



<!-- STEPONE (BUSCAR TRANSACCIONES DADA UNA PORTADORA)-->

<form ng-show="vm.display.stepOne">
  <div class="form-group">
    <label for="exampleInputEmail1">Poradora:</label>
    <select class="form-control" name="ngvalueselect" ng-model="vm.formBuscar.portadora">
      <option ng-repeat="option in vm.data.portadoras" ng-value="option.id">{{option.nombre}}</option>
    </select>    
  </div>

  <div ng-show="!vm.formBuscar.busquedaAvanzada">
	  <div class="form-group">
	    <label>Fecha Inicio:</label>
	    <input type="text" class="form-control" placeholder="Fecha Inicio dd/mm/yyyy" ng-model="vm.formBuscar.fechaI" />
	  </div>


	  <div class="form-group">
	    <label>Fecha Fin:</label>
	    <input type="text" class="form-control" placeholder="Fecha Fin dd/mm/yyyy" ng-model="vm.formBuscar.fechaF" />
	  </div>
  </div> 

<div class="row" ng-show="vm.formBuscar.busquedaAvanzada">
  <div class="col-sm-6">
    <label>Banco</label>  
	  
	  <div class="form-group">
	    <label>Fecha Inicio:</label>
	    <input type="text" class="form-control" placeholder="Fecha Inicio dd/mm/yyyy" ng-model="vm.formBuscar.fechaIBanco" />
	  </div>  

	  <div class="form-group">
	    <label>Fecha Fin:</label>
	    <input type="text" class="form-control" placeholder="Fecha Fin dd/mm/yyyy" ng-model="vm.formBuscar.fechaFBanco" />
	  </div>

  </div>

  <div class="col-sm-6">
    <label>Portadora</label>  
	  <div class="form-group">
	    <label>Fecha Inicio:</label>
	    <input type="text" class="form-control" placeholder="Fecha Inicio dd/mm/yyyy" ng-model="vm.formBuscar.fechaIPortadora" />
	  </div> 

	  <div class="form-group">
	    <label>Fecha Fin:</label>
	    <input type="text" class="form-control" placeholder="Fecha Fin dd/mm/yyyy" ng-model="vm.formBuscar.fechaFPortadora" />
	  </div> 	      	
  </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vm.formBuscar.busquedaAvanzada"> Filtro avanzado por fecha
    </label>
  </div>

  <button class="btn btn-default" ng-click="vm.fn.buscarTransacciones()">Buscar</button>
</form>

<!-- /STEPONE (BUSCAR TRANSACCIONES DADA UNA PORTADORA)-->


<!-- STEPTWO (CONCILIAR)-->
<div class="step-two" ng-show="vm.display.stepTwo">
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active:vm.display.tabConciliar}"><a href="javascript:" ng-click="vm.fn.activarTab(true)">Conciliar</a></li>
  <li role="presentation" ng-class="{active:!vm.display.tabConciliar}"><a href="javascript:" ng-click="vm.fn.activarTab(false)">Resumen de Conciliación</a></li>
</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home" ng-class="{active:vm.display.tabConciliar}">

    	<div class="col-sm-6">

    		<h3>Banco</h3>

    		<input class="form-control" type="text" ng-model="qBanco" placeholder="Buscar" style="margin-bottom:15px; margin-top:15px" />

			<div class="table-responsive">
				<table class="table"> 
					<thead> 
						<tr> 
							<th>...</th>
							<th>ID</th> 
							<th>ID Cliente</th>						
							<th>Fecha</th> 
							<th>Operación</th>
							<th>Monto</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="item in vm.data.transaccionesBanco | filter:qBanco as trxBancos">
							<td><input type="checkbox" ng-model="item.active" ng-click="vm.fn.validateOnCheck()" /></td>
							<td>{{ item.id }}</td> 
							<td>{{ item.idCliente }}</td>
							<td>{{ item.fecha | date }}</td>
							<td>{{ item.operacion }}</td> 						
							<td>{{ item.monto }}</td> 											
						</tr>
						<tr ng-if="trxBancos.length === 0">
							<td colspan="6"><p class="text-danger">{{ vm.messages.noresult }}</p></td>
						</tr>	
					</tbody> 
				</table>
			</div>  

			<div class="form-group">
				<label>Monto Total:</label> {{trxBancos | sumOfValue:'monto'}}
			</div>
			
			<div class="form-group">
				<label>Monto total seleccionado:</label> {{ (vm.data.transaccionesBanco | filter:{'active':true}) | sumOfValue:'monto'}} 
			</div>

    	</div>

    	<div class="col-sm-6">

	    	<h3>Portadora</h3>	

			<input class="form-control" type="text" ng-model="qPortadora" placeholder="Buscar" style="margin-bottom:15px; margin-top:15px" />

			<div class="table-responsive">
				<table class="table"> 
					<thead> 
						<tr>
							<th>...</th> 
							<th>ID</th> 
							<th>ID Cliente</th>						
							<th>Fecha</th> 
							<th>Operación</th>
							<th>Monto</th>
						</tr> 
					</thead> 
					<tbody> 
						<tr ng-repeat="item in vm.data.transaccionesPortadora | filter:qPortadora as trxPortadoras">
							<td><input type="checkbox" ng-model="item.active" ng-click="vm.fn.validateOnCheck()" /></td>
							<td>{{ item.id }}</td> 
							<td>{{ item.idCliente }}</td>
							<td>{{ item.fecha | date }}</td>
							<td>{{ item.operacion }}</td> 						
							<td>{{ item.monto }}</td> 											
						</tr>
						<tr ng-if="trxPortadoras.length === 0">
							<td colspan="6"><p class="text-danger">{{ vm.messages.noresult }}</p></td>
						</tr>	
					</tbody> 
				</table>
			</div>

			<div class="form-group">
				<label>Monto Total:</label> {{trxPortadoras | sumOfValue:'monto'}}
			</div>
			
			<div class="form-group">
				<label>Monto total seleccionado:</label> {{ (vm.data.transaccionesPortadora | filter:{'active':true}) | sumOfValue:'monto'}} 
			</div>					

    	</div>

    	<div class="col-sm-12">
	    	<button class="btn" ng-disabled="!vm.display.btnConciliar" data-toggle="modal" data-target="#modalObservacion">Conciliar</button>
	    	<button class="btn" ng-click="vm.fn.finalizar()">Previsualizar</button>
    	</div>


    </div>
    <div role="tabpanel" class="tab-pane" id="profile" ng-class="{active:!vm.display.tabConciliar}">
    	
    	<div style="margin:20px 0;">
    		<b>Por favor, revise los datos de las conciliaciones realizadas antes de finalizar el proceso</b>
    	</div>   	


    		<!-- BANCO-PORTADORA -->
    		<fieldset>
    			<legend>Banco-Portadora</legend>   		


				<div class="table-responsive" ng-repeat="item in vm.data.transaccionesBancoPortadoraConciliadas | filter:qBPC as resultBPC">
					
					<table class="table"> 
						<thead> 
							<tr> 
								<th>...</th>
								<th>ID</th> 
								<th>ID Cliente</th>						
								<th>Fecha</th> 
								<th>Operación</th>
								<th>Monto</th>
							</tr> 
						</thead> 
						<tbody> 

							<tr>
								<td><b>BANCO</b></td>
								<td>{{ item.banco.id }}</td> 
								<td>{{ item.banco.idCliente }}</td>
								<td>{{ item.banco.fecha | date }}</td>
								<td>{{ item.banco.operacion }}</td> 						
								<td>{{ item.banco.monto }}</td> 											
							</tr>

							<tr>
								<td><b>PORTADORA</b></td>
								<td>{{ item.portadora.id }}</td> 
								<td>{{ item.portadora.idCliente }}</td>
								<td>{{ item.portadora.fecha | date }}</td>
								<td>{{ item.portadora.operacion }}</td> 						
								<td>{{ item.portadora.monto }}</td> 											
							</tr>

							<tr>
								<td><b>OBSERVACION:</b></td>
								<td colspan="5">{{ item.observacion }}</td> 										
							</tr>							

						</tbody> 
					</table>

					<div style="text-align:right">
						<button class="btn btn-danger" ng-click="vm.fn.eliminarConciliacionBancoPortadora(item.banco, item.portadora, $index)"><i class="fa fa-trash"></i> Eliminar</button>
					</div>	

					<hr>

				</div>

							<div ng-if="resultBPC.length == 0">
								<p class="text-danger">{{ vm.messages.noresult }}</p>									
							</div>				

			</fieldset> 

			<!-- /BANCO-PORTADORA -->

    		<!-- BANCO -->
    		<fieldset>
    			<legend>Banco</legend>  

				<div class="table-responsive">
					<table class="table"> 
						<thead> 
							<tr> 
								<th>ID</th> 
								<th>ID Cliente</th>						
								<th>Fecha</th> 
								<th>Operación</th>
								<th>Monto</th>
								<th>Observación</th>
								<th>...</th>
							</tr> 
						</thead> 
						<tbody> 
							<tr ng-repeat="item in vm.data.transaccionesBancoConciliadas | filter:qBC as resultBC">
								<td>{{ item.id }}</td> 
								<td>{{ item.idCliente }}</td>
								<td>{{ item.fecha | date }}</td>
								<td>{{ item.operacion }}</td> 						
								<td>{{ item.monto }}</td> 
								<td>{{ item.observacion }}</td>	
								<td><button class="btn btn-danger" ng-click="vm.fn.eliminarConciliacionBanco(item, $index)"><i class="fa fa-trash"></i> Eliminar</button></td> 										
							</tr>	
							<tr ng-if="resultBC.length == 0">
								<td colspan="6"><p class="text-danger">{{ vm.messages.noresult }}</p></td> 										
							</tr>							
						</tbody> 
					</table>
				</div> 
			</fieldset>
    		<!-- /BANCO-->	

    		<!-- PORTADORA -->
    		<fieldset>
    			<legend>Portadora</legend>  

				<div class="table-responsive">
					<table class="table"> 
						<thead> 
							<tr> 
								<th>ID</th> 
								<th>ID Cliente</th>						
								<th>Fecha</th> 
								<th>Operación</th>
								<th>Monto</th>
								<th>Observación</th>
								<th>...</th>
							</tr> 
						</thead> 
						<tbody> 
							<tr ng-repeat="item in vm.data.transaccionesPortadoraConciliadas | filter:qPC as resultPC">
								<td>{{ item.id }}</td> 
								<td>{{ item.idCliente }}</td>
								<td>{{ item.fecha | date }}</td>
								<td>{{ item.operacion }}</td> 						
								<td>{{ item.monto }}</td> 
								<td>{{ item.observacion }}</td>	
								<td><button class="btn btn-danger" ng-click="vm.fn.eliminarConciliacionPortadora(item, $index)"><i class="fa fa-trash"></i> Eliminar</button></td>											
							</tr>

							<tr ng-if="resultPC.length == 0">
								<td colspan="6"><p class="text-danger">{{ vm.messages.noresult }}</p></td> 										
							</tr>								
						</tbody> 
					</table>
				</div> 
			</fieldset>
    		<!-- /PORTADORA-->    			

    		<button class="btn btn-default">Finalizar conciliación</button>

    </div>
  </div>
 </div> 

<!-- /STEPTWO (CONCILIAR)-->


            <!-- MODAL DESCRIPCION -->
            <form name="formObservacion">
	            <div class="modal fade" id="modalObservacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	                <div class="modal-dialog" role="document">
	                    <div class="modal-content ApiKeyAdd">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                            <h4 class="modal-title" id="myModalLabel">Observación de conciliación</h4>
	                        </div>
	                        <div class="modal-body">
	                            <div class="">

	                                <div class="form-horizontal">

	                                    <div class="form-group">
	                                        <div class="col-sm-12">
	                                            <label class="control-label">Observación *</label>
	                                            <textarea placeholder="Observaciones" class="form-control" ng-model="vm.trxobservacion" ng-required="true"></textarea>  
	                                            <p class="text-muted">Ingrese observaciones para la conciliación que intenta realizar; en caso de no existir será guardado <b>SIN OBSREVACIONES</b></p>                                               
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="modal-footer">
	                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	                            <button 
	                            	type="button" 
	                            	class="btn btn-primary" 
	                            	data-dismiss="modal" 
	                            	ng-click="vm.fn.conciliar()" 
	                            	ng-disabled="formObservacion.$invalid">
	                            	<i class="fa fa-save"></i> Guardar
	                            </button>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </form>