<div class="{{toastClass}} {{toastType}}" ng-click="tapToast()">
  <div ng-switch on="allowHtml">
  	<div class="{{ extraData.msgBodyClass }}">
  		<div ng-switch-default class="{{messageClass}}" aria-label="{{message}}">{{message}}</div>
    	<div ng-switch-when="true" class="{{messageClass}}" ng-bind-html="message"></div>
  	</div>
  </div>
  <progress-bar ng-if="progressBar"></progress-bar>
</div>