.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.interval-select{
    display: block;
    padding: 0;
    margin:0;
}
.interval-select li{
    display: table-cell;
    padding: 0 10px 0 0;
}

.interval-select input,
.interval-select select,
.interval-select button{
    border-radius: 0;
}

.interval-select input{
    width: 80px;
    text-align: center;
}


.chat-input-container{
    /*position: fixed;bottom: 0;
    right:0;*/  
}

.chat-input-container,
.chat-input-container textarea{
    resize: none;
    height: 30px;
}

.chat-input-container input[type=textarea]{
    height:30px;
    resize:both;
}


.chat-input-textarea {
    height: 30px;
    width: 150px;
}

.chat-input-textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    resize: both;
    resize: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
    color:#ccc;
}

::selection {
    background-color: black;
    color: white;
}


/*CHAT*/

.chat.chat-maximized{
    width: 580px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -290px;
    bottom: inherit;
}

.chat{
    width: 290px;
    position: fixed;
    bottom: 0;
    right: 20px;
} 
.chat-wrapper{
    border: solid 1px #a0a2a5;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
.chat-header{
    width:100%;
    background: #a0a2a5; color: #f5f5f5;
    padding: 8px 10px;
    position:relative;
}
.chat-container{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
}

.chat-body-wrapper{
    overflow-y: auto;
    height: 200px;
    padding: 10px 0;
}
.chat-body{
    display: block;
    background: #fff; color: #333; padding: 10px 15px;
}

.chat-message-list{
    margin:0; padding: 0; display: block; list-style: none;
}

.chat-message-list .chat-message-item:first-child{
    padding-top: 0
}

.chat-message-list .chat-message-item:last-child{
    padding-bottom: 0;
    border-bottom:none;
}    

.chat-message-item{
    display: block;
    clear: both;
    overflow: hidden;
    border-bottom: solid 1px #e6e6e6;
    padding: 7px 0;
}
.chat-message-author{
    font-weight: 600;
    margin: 0 0 3px 0;
}

.chat-message-item.sent{
}

.chat-message-item.received{

}

.chat-message-item.sent .chat-message-author{
    text-align: right;
    padding-right: 55px;
}

.chat-message-item.received .chat-message-author{
    text-align: left;
    padding-left: 55px;
}

.chat-text-wrapper{
    width:100%; 
    background: #fff;
}

.chat-text{
    padding: 0;
    position: relative;
    background: #fff;
}

.input-chat{
    width: 101%;
    border-radius: 0;
    border: solid 1px #ccc;
    border-left: none;
    border-right: none;
    margin-left: -2px;
    padding: 0 40px 0 5px;
}

.avatar-wrapper{
    float: left;
    border: solid 1px #ccc;
    border-radius: 50%;
    overflow: hidden;
    height: 45px;
    width: 45px;
    text-align: center;
}

.avatar-wrapper img{

}

.chat-message-text{
    margin-left: 55px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}

.chat-message-item.sent .avatar-wrapper{
    float: right;
}    
.chat-message-item.sent .avatar-wrapper img{

}
.chat-message-item.sent .chat-message-text{
    text-align: right;
    margin-right: 55px;
    margin-left: 0;
} 

.chat-actions-btn{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 0;
}   

.chat-header-btn{
    width: 20px;
    display: inline;
    padding: 0 4px; 
}

.chat-header-btn:hover{
    color:#333; 
    cursor: pointer;
}

.chat-header-btn.min-btn{

}
.chat-header-btn.max-btn{

}

.chat-tabs-list{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.chat-tabs-list li{}
.chat-tab-content{
    padding: 0 !important;
}

.chat-tool-bar{
    width:100%; clear: both;
    border-bottom:1px solid #aaa;
}

.chat-tool-bar ul{
    padding: 8px 5px;
    margin:0;
    display:block;
    clear:both;
    text-align: right;
}

.chat-tool-bar ul li{
    list-style: none; display: inline; padding: 0 4px; text-transform: uppercase;
}

.chat-end-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
}

.chat-end-overlay.inside{
    top: 80px;
}

.chat-end-overlay.inside p{
    margin-top:-80px
}

.chat-end-overlay p{
    text-align: center;
    top: 50%;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
}

.chat-toolbar-btn{
    color:#585959;
} 
.chat-toolbar-btn:hover{
    cursor: pointer;
    color:#000;
} 
.btn-setting{}
.btn-close{}

.ui-draggable-handle{

}
.ui-draggable-handle:hover{
    cursor:move;
}
.chat-istyping{
    position: absolute;
    top: -20px;
}
.chat-istyping small{}

.chat-btninputfile{
    right: 10px;
    bottom: 3px;
    position: absolute;
    z-index: 99;   
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #585959;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: #000;    
}
.inputfile + label * {
    pointer-events: none;
}

.image-upload{
    text-align: center;
    background: #fff;
    min-height: 64px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    background-color: #fff;
    padding: 10px 15px;    
}
.chat-img-toolbar{
    text-align: right;
}
.chat-img-tool-btn{
    margin: 0 0 0 10px;
    cursor: pointer;
}
.chat-img-tool-btn:hover{
    color:red;
}
.btn-tool-delete{

}
.btn-tool-upload{

}
.chat-media{
}

.chat-media img{
    height: 150px; margin:0 auto
}
.media-image{

}

.chat-media.media-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    z-index: 999;
}

.chat-media.media-overlay img{
    position:absolute;
    top:50%;
    height: 250px;
    position:absolute;
    margin: -125px auto 0 -25%;
    left:50%
}

.sent .chat-media{

}

.sent .chat-media img{

}

.image-upload-prev-wrapper{
    position: absolute;
    bottom: 35px;
    width: 100%;
    left: 0;
}

.ui-tabs {
    padding: 0
}

@-webkit-keyframes chat-notify {
    0%   { background: #a0a2a5; }
    100% { background: #333; }
}
@-moz-keyframes chat-notify {
    0%   { background: #a0a2a5; }
    100% { background: #333; }
}
@-o-keyframes chat-notify {
    0%   { background: #a0a2a5; }
    100% { background: #333; }
}
@keyframes chat-notify {
    0%   { background: #a0a2a5; }
    100% { background: #333; }
}

.chat-minimized .chat-header{
    -webkit-animation: chat-notify 2s infinite; /* Safari 4+ */
    -moz-animation:    chat-notify 2s infinite; /* Fx 5+ */
    -o-animation:      chat-notify 2s infinite; /* Opera 12+ */
    animation:        chat-notify 2s infinite; /* IE 10+, Fx 29+ */
} 

.login-bg{
    /* The image used */
    background-image: url("../images/img_girl.jpg");

    /* Full height */
    height: 1024px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    background-origin: padding-box;
}

.container-box {
    display: flex; /* or inline-flex */
    flex-direction: column-reverse; /*row | row-reverse | column | column-reverse;*/
    flex-wrap: nowrap;/* | wrap | wrap-reverse;*/
}

.left{

}

.center{

}

.right{

}

/*RESET BTN*/

button.btn-favourite, 
button.btn-wish{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
button.btn-favourite, 
button.btn-wish{
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}
button.btn-wish::-moz-focus-inner,
button.btn-favourite::-moz-focus-inner
{
    border: 0;
    padding: 0;
}

/*MAP*/
#map-canvas{
    width: 100%;
    height: 100%;
    float:left;
}
#markers{
    font-family: 'Roboto', sans-serif;
    background: #333333;
    opacity: 0.5;
    text-align: center;
    width: 20%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    color:white;
}
#markers li{
    list-style-type: none;
    text-align: left;
    margin:2px;
}


/*TOASTR*/
/*error=>background-color: #bd362f;*/
/*info=>background-color: #2f96b4;*/
/*warning=>background-color: #f89406;*/
/*success=>background-color: #51a351*/

#toast-container .mcui-toast{
    border-radius: 0;
    padding: 1px 1px 1px 50px;
    width: 320px;
    box-shadow: 0 0 5px #999;
}
.toast-top-right, .toast-top-left {
    top: 65px;
}

.mcui-toast .toast-custom-body{
    background: #f5f5f5;
    color:#333;
    padding: 8px 10px;
}

.mcui-toast.toast-success .toast-custom-body{
    color:#51a351;
}
.mcui-toast.toast-error .toast-custom-body{
    color:#bd362f;
}
.mcui-toast.toast-warning .toast-custom-body{
    color:#f89406;
}
.mcui-toast.toast-info .toast-custom-body{
    color:#2f96b4;
}

/*SCROLL*/
.scrollme {
    max-height: 350px;
}
.scrollme .ngsb-container{
    padding-right: 20px;
}