<style type="text/css">
	 .mcui-overlay{
		position: absolute; top:0; left:0; width: 100%; height: 100%; background: rgba(0,0,0,.5);
	 } 
</style>

<div class="mcui-overlay" ng-include="'frontend/app/widgets/cmp.modal.template.html'"></div>